.full-container {
	background-color: #d2d694;
	padding: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	background-color: #a5a877;
	border-radius: 15px;
}

.review {
	background-color: #7b7e59;
	border-radius: 15px;
	color: white;
	padding: 10px;
	padding-left: 20px;
	margin: 10px;
}
