<mat-card>
	<form [formGroup]="loginFormGroup">
		<mat-form-field appearance="outline">
			<!-- email -->
			<mat-label>E-mail</mat-label>
			<input matInput type="email" formControlName="email" />
			<mat-icon matPrefix>person</mat-icon>
			<mat-error *ngIf="loginFormGroup.get('email')?.errors?.required">Email is required.</mat-error>
			<!-- <mat-error *ngIf="loginFormGroup.get('email')?.errors?.email">Invalid email.</mat-error> -->
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" />
			<mat-icon matPrefix>lock</mat-icon>
			<mat-error *ngIf="loginFormGroup.get('password')?.errors?.required">Password is required.</mat-error>
		</mat-form-field>

		<button mat-button (click)="loginAction()" [disabled]="loginFormGroup.invalid">Login</button>
		<p>Don't have an account? <a href="/register">Create it</a> here.</p>
	</form>
</mat-card>
