@use 'utils/colors';

.review-container {
	display: flex;
	flex-direction: row;
	background-color: colors.$purple;
	border-radius: 24px;
	margin: 12px 0;
	padding: 30px;
}

.review-left {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.review-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 40px;
	font-size: 16px;
}

.review-img img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 20px;
}

.review-info {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.review-content {
	width: 50%;
}

@media screen and (max-width: 959.98px) {
	// Layout Breakpoint.Small upper limit
	.review-container {
		flex-direction: column;
		margin: 8px 0;
		padding: 24px 14px 14px;
		font-size: 14px;
	}

	.review-content {
		margin: 0;
	}

	.review-left,
	.review-content {
		width: 100%;
	}
}
