<ng-container *ngIf="review">
	<div class="review-container">
		<div class="review-left">
			<div class="review-img">
				<img src="{{ review.user.image_url }}" />
			</div>
			<div class="review-info">
				<p>{{ review.user?.email }}</p>
				<div class="rating-container">
					<p>{{ review.rating }}/5</p>
					<!-- <span *ngFor="let "></span> -->
				</div>
			</div>
		</div>
		<div class="review-content">
			<p>{{ review.comment }}</p>
		</div>
		<div class="review-action">
			<ng-container *ngIf="review.user.email === uid">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="onDelete(review.id)">
						<span>Delete</span>
					</button>
				</mat-menu>
			</ng-container>
		</div>
	</div>
</ng-container>
