@use 'utils/colors';

.form-card {
	width: 500px;
	height: 500px;
	padding: 0 100px;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.field {
	margin: 0 auto;
}

.logo {
	margin: 32px auto;
}

.link {
	color: colors.$white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px colors.$purple inset !important;
	-webkit-text-fill-color: colors.$white !important;
}

.button {
	height: 50px;
	width: 144px;
	border-radius: 32px;
	margin: 0 auto;
	background-color: colors.$white;
	color: colors.$purple;
	text-transform: uppercase;
}

.loading {
	height: 4px;
	margin: 12px auto;
}

.button[disabled],
.button:disabled {
	background-color: rgba($color: colors.$white, $alpha: 0.6);
}

@media screen and (max-width: 959.98px) {
	// Layout Breakpoint.Small upper limit
	.form-card {
		width: 100vw;
		height: 100vh;
		padding: 0 45px;
		border-radius: 0;
	}
}
