<ng-container *ngIf="userData$ | async as userData">
	<div class="profile-container">
		<div class="credentials-container">
			<p class="title">EMAIL</p>
			<p class="content">{{ userData.email }}</p>
		</div>
		<ng-container *ngIf="userData.image_url; else uploadImg">
			<img class="profile-image" src="{{ userData.image_url }}" />
		</ng-container>
		<ng-template #uploadImg>
			<form #imageupload (change)="processChange(imageupload)">
				<input class="hide-file" type="file" id="avatar" name="avatar" accept="image/*" />
				<label class="upload-image" for="avatar">
					<p>Sad TV img</p>
					<span>Drag your file here</span>
				</label>
			</form>
		</ng-template>
	</div>
</ng-container>
