<ng-container *ngIf="userData$ | async as userData">
	<div class="profile-container">
		<div class="credentials-container">
			<p>EMAIL</p>
			<p>{{ userData.email }}</p>
		</div>
		<ng-container *ngIf="userData.image_url; else uploadImg">
			<img src="{{ userData.image_url }}" />
		</ng-container>
		<ng-template #uploadImg>
			<div class="upload-image">
				<!-- <img class="image" /> -->
				<p>Sad TV img</p>
				<p class="image-description">Drop your photo here</p>
			</div>
		</ng-template>
	</div>
</ng-container>
